body {
    background-color:azure;
    font-size: 20px;
}

#name {
   font-family: Georgia, 'Times New Roman', Times, serif; 
   font-size: 24px;
   text-align: center;
   color:darkblue;
   margin-bottom: 20px;
   margin-top: 20px;
}

#me {
    width: 430px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#about {
  font-size: 22px;
  color:darkblue;
}

#skills {
    font-size: 22px;
    color:darkblue; 
}

#experience {
  font-size: 22px;
  color:darkblue;
}

#projects {
  font-size: 22px;
  color:darkblue;
}

#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
  
  #nav li {
    float:left;
  }
  
  #nav li a {
    display:block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  #nav li a:hover {
    background-color: #111111;
  }

  #contact {
  font-size: 22px;
  color:darkblue;
  }

  footer {
  margin-bottom: 100px;
  }